a.read-more{
    float: right;
    color: orange;
}
.container{
    width: 50%;
    margin: 0 auto;
}
section{
    margin-top: 20px;
}
.image{
    color: white;
    background-color: rgba(26, 25, 25, 0.907);
    text-align: center;
    padding: 14%;
}