.text-center{
    text-align: center;
}
button{
    border: none;
}
.container{
    width: 40%;
    margin: 0 auto;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: calc(100vh / 10) 0;
}
.upper{
    text-transform: uppercase;
}
.section-head p{
    color: #949292;
    font-style: italic;
    padding: 20px 0;
}
.float-left{
    float: left;
}
.capitalize{
    text-transform: capitalize;
}
article img{
    width: 100%;
}