header{
    background-color: black;
    min-height: 45px;
    color: white;
    text-transform: uppercase;
}
header nav, nav>ul>li{
    float: left;
}
header a{
    padding: 14px 24px;;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}
.dropdown{
    display: none;
}
.dropdown > li{
    border: 1px solid black;
    color: black;
}
header button{
    float: right;
    padding: 15px 30px;
    border: none;
    color: white;
    background-color: inherit;
}
.banner{
    background-image: url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 45px);
    color: white;
    font-family:"Segoe UI",Arial,sans-serif;
}
.banner h2{
    padding-top: 800px;
}
.banner p{
    margin-top: 30px;
}

.about h1{
    font-size: 30px;
}
.about>.container>p{
    text-align: justify;
}
.articles-about article img{
    margin-top: 20px;
    width: 100%;
}
.articles-about article{
    width: calc((100% / 3) * 0.6);
    margin: 50px;
}
.tour{
    background-color: black;
}