a.read-more {
  float: right;
  color: orange;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.image {
  color: white;
  background-color: rgba(26, 25, 25, 0.907);
  text-align: center;
}
.parent-img {
  float: left;
  border: 1px solid black;
  padding: 2.6px;
}
