body {
  font-family: "Vollkorn", serif;
}
header {
  color: rgb(173, 169, 169);
  min-height: 14vh;
  background-color: rgb(51, 51, 51);
  padding: 35px 0;
}
.logo {
  text-transform: capitalize;
  font-size: 15px;
  float: left;
}
.logo p:first-child {
  font-size: 40px;
}
.logo p:nth-child(2) {
  margin-top: -10px;
}
header ul {
  float: right;
  text-transform: uppercase;
  background-color: rgb(26, 25, 25);
  font-size: 15px;
}
header li {
  float: left;
}
header li a {
  display: inline-block;
  padding: 20px;
}

.first article {
  width: 33%;
  float: left;
  padding: 0px 15px;
  background-color: rgba(128, 128, 128, 0.208);
  height: 300px;
  color: grey;
}
h1 {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 200;
}
.first .big-image {
  width: 630px;
  float: right;
  height: 300px;
  font-size: 2rem;
  padding: 14%;
}

.second article {
  float: left;
  width: calc(100% / 3.2);
  margin-right: 3%;
  color: grey;
}
.second article:last-child {
  margin-right: 0 !important;
}
.second article h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.second .parent-img {
  margin: 0px 10px 1px 0;
}
.small-img {
  height: 80px;
  width: 80px;
  padding: 30% 0;
  font-size: 15px;
}
.third .parent-img {
  margin-right: 21px;
}
.third .parent-img:last-child {
  margin-right: 0px;
}
.medium-img {
  height: 100px;
  width: 210px;
  padding: 17% 0;
  font-size: 23px;
}
section {
  margin-top: 30px;
}
.second article,
.third .parent-img {
  margin-top: 50px;
}
.third .parent-img {
  margin-bottom: 50px;
}
